NEXT_PUBLIC_SUPABASE_URL=https://upaezyiijeqkjepppzze.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwYWV6eWlpamVxa2plcHBwenplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyMTg0OTgsImV4cCI6MjA4Njc5NDQ5OH0.5iiWO_I7dfrvbHFZD4ulUQ87dWGOYSI1Npnm0ZNFtzg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwYWV6eWlpamVxa2plcHBwenplIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTIxODQ5OCwiZXhwIjoyMDg2Nzk0NDk4fQ.qMsLAhm4zbPYGu4RVnk-CcwuYA8wSR-Gze4jiG_6ahM
TENANT_ROOT_DOMAIN=your-tenant-root-domain
PAYSTACK_SECRET_KEY=your-paystack-secret-key
PAYSTACK_WEBHOOK_SECRET=your-paystack-webhook-secret
PAYSTACK_CALLBACK_URL=your-paystack-callback-url
NEXT_PUBLIC_APP_URL=https://centreconnect-app222.vercel.app
TURNSTILE_SECRET_KEY=your-turnstile-secret-key
ENABLE_MW_TIMING=1 # Set to 1 to enable middleware timing
UPSTASH_REDIS_REST_URL=your-upstash-redis-url
UPSTASH_REDIS_REST_TOKEN=your-upstash-redis-token
SMTP_HOST=smtp.centerconnect.co.za
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
SMTP_FROM=admin@centerconnect.co.za
SMTP_PORT=465
SMTP_SECURE=true
RESEND_API_KEY=your-resend-api-key
RESEND_FROM=CentreConnect <admin@centerconnect.co.za>
RESEND_WEBHOOK_SECRET=whsec_your_resend_webhook_secret
ROOT_DOMAIN=centerconnect.co.za
NEXT_PUBLIC_ROOT_DOMAIN=centerconnect.co.za
SUPPORT_EMAIL=admin@centerconnect.co.za
BOOKKEEPER_EMAIL=bookkeeper@example.com
VAPID_PUBLIC_KEY=your_vapid_private_key_here
NEXT_PUBLIC_VAPID_PUBLIC_KEY=your_vapid_public_key_here
